/* 
    Document   : gameContainer
    Created on : Jun 20, 2011, 10:00:34 AM
    Author     : ChrisT
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
   I think we need to look at DRY and class inheritance
*/
{
	margin: 0;
	padding: 0;
}

/* Overall container */

#gameContainer {
	position:absolute;
	width:768px;
	height:570px;
	z-index:1;
	overflow:hidden;
}
#backgroundDiv {
	position:absolute;
	width:768px;
	height:457px;
	z-index:-5;
	top: 36px;
	background-image:url(../image/baseball_bg.png);
}

/* Top Bar */

#topBarContainer {
	position:absolute;
	width:100%;
	height:53px;
	z-index:5;
	background-image:url(../image/tb_bg.png);
}
#spoolsLogo {
	position:absolute;
	width:120px;
	height:25px;
	z-index:5;
	top: 5px;
	left: 10px;
	background-image:url(../image/spools_logo.png);
}
#tbStatsContainer {
	position:relative;
	float:right;
	width:480px;
	height:36px;
	z-index:5;
}
.tbStatsSplit {
	position:relative;
	float:left;
	width:50%;
	height:36px;
	z-index:5;
}
#tbLevelText {
	position:absolute;
	width:50px;
	height:18px;
	z-index:5;
	top: 10px;
	color:white;
	font-size:14px;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#tbLevelScoreboardContainer {
	position:absolute;
	width:158px;
	height:26px;
	z-index:5;
	left: 51px;
	top: 6px;
	background-image:url(../image/long_scorebar.png);
}
#tbLevelScoreboard {
	position:absolute;
	width:150px;
	height:17px;
	z-index:5;
	left: 4px;
	top: 4px;
	text-align:right;
	font-size:17px;
	color: #FC0;
	font-family:"Score Board", Arial, Helvetica, sans-serif;
}
#tbTokensText {
	position:absolute;
	width:56px;
	height:18px;
	z-index:5;
	top: 10px;
	color:white;
	font-size:14px;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#tbTokensScoreboardContainer {
	position:absolute;
	width:158px;
	height:26px;
	z-index:5;
	left: 57px;
	top: 6px;
	background-image:url(../image/long_scorebar.png);
}
#tbTokensScoreboard {
	position:absolute;
	width:150px;
	height:17px;
	z-index:5;
	left: 4px;
	top: 4px;
	text-align:right;
	font-size:17px;
	color:#FC0;
	font-family:"Score Board", Arial, Helvetica, sans-serif;
}

/* Bottom Bar */

.bottomBarContainer {
	position:absolute;
	width:768px;
	height:91px;
	z-index:5;
	top: 479px;
	background-image:url(../image/bb_bg.png);
}
.bbMySpoolsSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/myspools_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbMySpoolsSection:link { background-position: 28px 26px; }
.bbMySpoolsSection:visited { background-position: 28px 26px; }
.bbMySpoolsSection:active { background-position: 28px -81px; }
.bbMySpoolsSection:hover { background-position: 28px -81px; }
.bbGamesSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/games_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbGamesSection:link { background-position: 28px 26px; }
.bbGamesSection:visited { background-position: 28px 26px; }
.bbGamesSection:active { background-position: 28px -81px; }
.bbGamesSection:hover { background-position: 28px -81px; }
.bbStandingsSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/standings_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbStandingsSection:link { background-position: 28px 26px; }
.bbStandingsSection:visited { background-position: 28px 26px; }
.bbStandingsSection:active { background-position: 28px -81px; }
.bbStandingsSection:hover { background-position: 28px -81px; }
.bbMarketSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/market_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbMarketSection:link { background-position: 28px 26px; }
.bbMarketSection:visited { background-position: 28px 26px; }
.bbMarketSection:active { background-position: 28px -81px; }
.bbMarketSection:hover { background-position: 28px -81px; }
.bbSettingsSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/settings_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbSettingsSection:link { background-position: 28px 26px; }
.bbSettingsSection:visited { background-position: 28px 26px; }
.bbSettingsSection:active { background-position: 28px -81px; }
.bbSettingsSection:hover { background-position: 28px -81px; }
.bbLogoutSection {
	position:relative;
	width:128px;
	height:78px;
	float:left;
	z-index:2;
	top:13px;
	background-image:url(../image/logout_icon_rollover.png);
	background-repeat:no-repeat;
	background-position: 28px 26px;
}
.bbLogoutSection:link { background-position: 28px 26px; }
.bbLogoutSection:visited { background-position: 28px 26px; }
.bbLogoutSection:active { background-position: 28px -81px; }
.bbLogoutSection:hover { background-position: 28px -81px; }
.bbMenuTitle {
	position:relative;
	width:100%;
	height:18px;
	z-index:2;
	top: 6px;
	color:white;
	font-size:16px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}

/* Link Styles */

a.bbMenuLinks:link {  text-decoration:none; color:white; text-shadow: rgba(0,0,0,0) 2px 2px 3px; }
a.bbMenuLinks:visited { text-decoration:none; color:white; text-shadow: rgba(0,0,0,0) 2px 2px 3px; }
a.bbMenuLinks:active { text-decoration:none; color:white; text-shadow: rgba(0,0,0,1) 2px 2px 3px; }
a.bbMenuLinks:hover { text-decoration:none; color:white; text-shadow: rgba(0,0,0,1) 2px 2px 3px;}

/* Main Section BG's */

#msMySpoolsBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 13px;
}
#msGamesBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 13px;
}
#msNewGameBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 13px;
}
#msPlayGameBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 13px;
}
#msSettingsBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 46px;
}
#msMarketBG {
	position:absolute;
	width:676px;
	height:451px;
	background-image:url(../image/mainsection_bg_image.png);
	top: 4px;
	left: 46px;
}

/* Main Section */

.msTitle {
	position:absolute;
	width:200px;
	height:25px;
	z-index:2;
	top: 24px;
	left: 32px;
	color:white;
	font-size:22px;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0, 0, 0, 1) 5px 5px 7px;
}
.msGameFrame {
	position:absolute;
	width:610px;
	height:324px;
	z-index:2;
	left: 32px;
	top: 61px;
}
.msStatsContainer {
	position:absolute;
	width:610px;
	height:26px;
	z-index:2;
	left: 32px;
	top: 400px;
	background-image:url(../image/stats_gr_bg.png);
	background-repeat:no-repeat;
}
.msStatsLogo {
	position:relative;
	width:113px;
	height:26px;
	z-index:3;
	float:left;
	text-align:center;
	color:white;
	font-size:22px;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	text-shadow: rgba(0, 0, 0, 1) 3px 3px 7px;
	background-image:url(../image/stats_logo_bg.png);
	background-repeat:no-repeat;
}

/* Create A Game Page */

#msCreateGame {
	position:absolute;
	width:200px;
	height:25px;
	z-index:2;
	left: 441px;
	top: 24px;
	color:white;
	font-size:22px;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#msNewGameFieldsContainer {
	position:absolute;
	width:282px;
	height:241px;
	z-index:2;
	top: 94px;
	left: 32px;
}
.msNewGameFields {
	position:relative;
	width:100%;
	height:30px;
	z-index:2;
	float:left;
}
.msNewGameFieldsText {
	position:relative;
	width:100px;
	height:30px;
	z-index:2;
	float:left;
	text-align:right;
	color:white;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
}

/* Play Game Container */

#PGPicksContainer {
	position:absolute;
	width:337px;
	height:98px;
	z-index:2;
	left: 12px;
	top: 12px;
	background-image:url(/spools/v04/image/games_pick_bg.png);
	background-repeat:no-repeat;
}
#PGSpoolsContainer {
	position:absolute;
	width:337px;
	height:339px;
	z-index:4;
	left: 11px;
	top: 101px;
	background-image:url(/spools/v04/image/games_spools_bg.png);
	background-repeat:no-repeat;
}
#PGNewsContainer {
	position:absolute;
	width:327px;
	height:242px;
	z-index:2;
	left: 338px;
	top: 7px;
	background-image:url(/spools/v04/image/games_feed_bg.png);
	background-repeat:no-repeat;
}
#PGResultsContainer {
	position:absolute;
	width:326px;
	height:204px;
	z-index:2;
	left: 340px;
	top: 237px;
	background-image:url(/spools/v04/image/games_results_bg.png);
	background-repeat:no-repeat;
}

/* Play Game Picks Section */

#PGPicksInstruction {
	position:relative;
	width:100%;
	height:16px;
	z-index:4;
	text-align:center;
	top:10px;
	color:white;
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
}
#PGPicksSelectionContainer {
	position:relative;
	width:100%;
	height:40px;
	z-index:4;
	text-align:center;
	top:10px;
}
#PGHomeTeam {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 9px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	top: 8px;
}
#PGAwayTeam {
	position:absolute;
	width:140px;
	height:25px;
	z-index:4;
	left: 185px;
	top: 8px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#PGVS {
	position:absolute;
	width:34px;
	height:18px;
	z-index:4;
	left: 150px;
	top: 12px;
	color:white;
	font-size:14px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#PGGridContainer {
	position:absolute;
	width:235px;
	height:235px;
	z-index:2;
	left: 79px;
	top: 81px;
}
#PGGrid {
	position:relative;
	width:47px;
	height:47px;
	z-index:2;
	float:left;
}

/* Play Game SPools Section */

#PGSpoolsNumbersHorizContainer {
	position:absolute;
	width:235px;
	height:16px;
	z-index:2;
	left: 79px;
	top: 60px;
}
#PGSpoolsNumbersHoriz {
	position:relative;
	width:47px;
	height:100%;
	z-index:2;
	float:left;
	color:white;
	font-size:14px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#PGSpoolsNumbersVerticalContainer {
	position:absolute;
	width:27px;
	height:240px;
	z-index:2;
	left: 49px;
	top: 80px;
}
#PGSpoolsNumbersVertical {
	position:relative;
	width:100%;
	height:20%;
	line-height:48px;
	z-index:2;
	float:left;
	color:white;
	font-size:14px;
	text-align:center;
	font-family: Arial, Helvetica, sans-serif;
}
#PGSpoolsHomeTeam {
	position:absolute;
	width:235px;
	height:25px;
	z-index:4;
	left: 79px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	top: 30px;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
}
#PGSpoolsAwayTeam {
	position:absolute;
	width:235px;
	height:25px;
	z-index:4;
	left: -86px;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
	top: 187px;
	text-shadow: rgba(0,0,0,1) 2px 2px 3px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

/* Link Tabs */

#PGTab1Container {
	position:absolute;
	width:93px;
	height:68px;
	z-index:2;
	left: 663px;
	top: 25px;
	background-image:url(/spools/v04/image/back_to_games_bg.png);
	background-repeat:no-repeat;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#PGTab2Container {
	position:absolute;
	width:93px;
	height:68px;
	z-index:2;
	left: 663px;
	top: 103px;
	background-image:url(/spools/v04/image/back_to_games_bg.png);
	background-repeat:no-repeat;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#PGTab4Container {
	position:absolute;
	width:93px;
	height:68px;
	z-index:2;
	left: 663px;
	top: 347px;
	background-image:url(/spools/v04/image/back_to_games_bg.png);
	background-repeat:no-repeat;
	color:white;
	font-size:20px;
	text-align:center;
	font-family:Hauser, Arial, Helvetica, sans-serif;
}
#PGTabContents {
	position:absolute;
	width:90px;
	height:41px;
	z-index:1;
	top: 12px;
}
#PGTabContents2 {
	position:absolute;
	width:90px;
	height:41px;
	z-index:1;
	top: 12px;
}
#PGTabContents4 {
	position:absolute;
	width:90px;
	height:41px;
	z-index:1;
	top: 12px;
}
.inactive {
	visibility:hidden;
	z-index:5;
}
.active{
	visibility:visible;
	z-index:10;
}
.hide {
    display:none;
}
.show {
    display:block;
}